.side-menu {
    flex: 0 0 260px;
    background-color: var(--primary-lighter);
    border-radius: 0 20px 20px 0;
    padding: 3px;
}

.side-menu > .menu-option {
    height: 35px;
    border-radius: 5px 20px 20px 5px;
    cursor: pointer;
    margin-bottom: 3px;
    padding: 0 5px;
    font-weight: bolder;
    display: flex;
    align-items: center;
    transition: background-color 250ms, color 250ms;
}

.side-menu > .menu-option > span {
    font-family: "Josefin Sans", sans-serif;
}

.side-menu > .menu-option-active {
    background-color: var(--primary);
    color: #fff;
}

.side-menu > .menu-option:not(.menu-option-active):hover {
    background-color: var(--primary-light);
}

.side-menu > .menu-option > span > .icon {
    position: relative;
    top: -1px;
    margin-right: 5px;
    width: 1.25em;
    height: 1.25em;
}

.side-menu > .menu-subcategory {
    color: var(--bs-gray-700);
    font-family: "Josefin Sans", sans-serif;
    font-weight: 900;
    font-size: 10px;
    margin: 15px 0 0 10px;
    text-transform: uppercase;
}

.side-menu.thin {
    flex-basis: 40px;
    overflow: hidden;
}

.side-menu.thin > .menu-option > span {
    width: 40px;
    height: 27px;
    overflow: hidden;
}

.side-menu.thin > .menu-subcategory {
    visibility: hidden;
}