.user-list-item {
    display: flex;
    flex-direction: row;
    padding: 10px 30px 10px 10px;
    align-items: center;
}

.user-list-item > img {
    border-radius: 6px;
}

.user-list-item > label {
    margin-bottom: 0;
    margin-left: 10px;
    flex-grow: 1;
}

.user-list-item[data-hidden="1"] {
    display: none;
}

@keyframes user-list-item-icons-show {
    from { opacity: 0; right: -20px; }
    to { opacity: 1; right: 0; }
}

@keyframes user-list-item-icons-hide {
    from { opacity: 1; right: 0; }
    to { opacity: 0; right: -20px; }
}

.user-list-item > .icon {
    font-size: 20px;
    cursor: pointer;
    color: var(--bs-gray-900);
    position: relative;
    opacity: 0;
    right: -50px;
    animation: user-list-item-icons-hide 250ms cubic-bezier(1, 0, 1, 1) forwards;
    margin-left: 16px;
}

.user-list-item:hover > .icon {
    opacity: 1;
    right: 0;
    animation: user-list-item-icons-show 250ms cubic-bezier(0, 0, 0, 1) forwards;
}