@import "common/event_list.css";

.day[data-hasevents="1"] span::before {
    content: "";
    position: absolute;
    top: 2px;
    right: 2px;
    background-color: #e04c40;
    width: 9px;
    border-radius: 10px;
    height: 9px;
}

.day span {
    position: relative;
}

@keyframes background-fade {
    from { background: transparent; }
    to { background: var(--primary); }
}

.day.selected span {
    animation: background-fade 500ms;
}