@import url("common/post_attachment_list.css");

.group-grid {
    display: grid;
    grid-template-columns: 33% 34% 33%;
    padding: 10px;
    max-height: 100%;
    overflow-y: auto;
}

.group {
    border: 1px solid var(--primary-light);
    border-radius: 6px;
    background-color: var(--primary-lighter);
    margin: 10px;
}

#create-group-btn {
    background-color: transparent;
    border: 2px dotted var(--primary-light);
    transition: background-color 250ms;
    cursor: pointer;
    font-size: 40px;
    font-family: "Josefin Sans", sans-serif;
}

#create-group-btn:hover {
    background-color: var(--primary-lighter);
}

.group-header {
    height: 70px;
    padding: 0 10px;
}

.group-header > img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.group-header > label {
    margin-bottom: 0;
    font-size: 21px;
    font-weight: bolder;
    margin-left: 5px;
}

.group-description {
    padding: 0 5px;
    color: slategray;
    font-size: 12px;
    margin-bottom: 0;
    line-height: 18px;
    height: 90px;
    overflow-y: auto;
}

.group-footer {
    padding: 5px;
}

.group-footer > label {
    margin-bottom: 0;
    font-size: 13px;
    color: var(--bs-gray-700);
}

#group-posts-iframe {
    width: 100%;
    flex: 1 0 auto;
}

.user-list-item {
    display: flex;
    flex-direction: row;
    padding: 10px 30px 10px 10px;
    align-items: center;
}

.user-list-item > img {
    border-radius: 6px;
}

.user-list-item > label {
    margin-bottom: 0;
    margin-left: 10px;
    flex-grow: 1;
}

.user-list-item[data-hidden="1"] {
    display: none;
}

@keyframes user-list-item-icons-show {
    from { opacity: 0; right: -20px; }
    to { opacity: 1; right: 0; }
}

@keyframes user-list-item-icons-hide {
    from { opacity: 1; right: 0; }
    to { opacity: 0; right: -20px; }
}

.user-list-item > .icon {
    font-size: 20px;
    cursor: pointer;
    color: var(--bs-gray-900);
    position: relative;
    opacity: 0;
    right: -50px;
    animation: user-list-item-icons-hide 250ms cubic-bezier(1, 0, 1, 1) forwards;
    margin-left: 16px;
}

.user-list-item:hover > .icon {
    opacity: 1;
    right: 0;
    animation: user-list-item-icons-show 250ms cubic-bezier(0, 0, 0, 1) forwards;
}

/* a fading effect which appears when scrolling through groups list */
.fade-top, .fade-bottom {
    position: absolute;
    width: 100%;
    height: 20px;
    background: linear-gradient(white, transparent);
}

.fade-bottom {
    bottom: 0;
    background: linear-gradient(transparent, white);
}

.group-member-role {
    display: inline;
    background-color: var(--bs-gray-900);
    border-radius: 100vw;
    padding: 3px 5px;
    color: white;
    font-size: 13px;
    font-weight: 900;
    font-family: "Josefin Sans", sans-serif;
}

.group-member-role > .icon {
    position: relative;
    top: -2px;
}

#manage-tab .tab-pane {
    padding: 5px;
}

#manage-tab .tab-content {
    max-height: 100%;
    overflow-y: auto;
}

#group-description-edit {
    width: 100%;
    height: 100%;
    resize: none;
}

#delete-group-tab {
    font-family: "DM Sans", sans-serif;
    text-align: center;
}

#delete-group-tab h1 {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 900;
}

#delete-group-tab > div {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid var(--bs-gray-300);
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 5px;
    text-align: left;
    width: 40%;
}