@import url("common/tabs.css");
@import url("common/side_menu.css");
@import url("common/toast.css");
@import url("common/progress_list.css");

html, body {
  height: 100%;
  margin: 0;
  --primary: #2196f3;
  --primary-light: #b5d2ff;
  --primary-lighter: #e9f4ff;
  overflow-y: hidden;
}

label, p, a, textarea, input, span, td, th, small, li, .modal-title {
  font-family: "DM Sans", 'Roboto', sans-serif;
}

.btn {
  font-family: "Josefin Sans", sans-serif;
}

.btn, .btn-group-sm > .btn {
  border-radius: 100vw;
}

.btn.focus, .btn:focus, .btn:hover {
  text-decoration: none;
}

.dropdown-header {
  font-family: "Josefin Sans", sans-serif;
  cursor: default;
}

.btn-primary { background-color: var(--primary); }
.btn-primary, .btn-outline-primary { border-color: var(--primary); }
.btn-danger { background-color: #EF5350; }
.btn-danger, .btn-outline-danger { border-color: #EF5350 }
.btn-success { background-color: #4CAF50; }
.btn-success, .btn-outline-success { border-color: #4CAF50; }

.progress {
  border-radius: 100vw;
}

.navbar {
  background: linear-gradient(var(--primary) 25%, transparent);
}

.navbar .nav-link {
  color: #eee !important;
  transition: color 125ms, text-shadow 125ms;
  font-weight: 600;
}

.navbar .nav-link:hover {
  color: #fff !important;
  text-shadow: 0 0 6px;
}

.navbar .nav-link.active {
  color: #fff !important;
  border-bottom: 3px solid white;
  border-radius: 3px;
  text-shadow: 0 0 6px;
}

.navbar .nav-link > svg {
  margin-right: 3px;
}

.page-heading {
  color: var(--primary);
  font-weight: bolder;
  line-height: 48px;
  height: 48px;
  font-family: "Josefin Sans", sans-serif;
}

.page-heading > .icon, .page-subheading > .icon {
  position: relative;
  top: 0;
  margin-right: 10px;
}

.page-subheading {
  color: var(--primary);
  font-weight: bolder;
  font-family: "DM Sans", sans-serif;
}

.content {
  height: calc(100% - 134px);
  max-height: calc(100% - 134px);
}

.content-no-heading {
  height: calc(100% - 65px);
  max-height: calc(100% - 65px);
}

tr {
  border: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.nav-item > a:hover {
  text-decoration: none;
}

.alert {
  border: none;
}

.modal-content {
  border-radius: 15px;
  border: none;
}

.modal-header {
  border: none;
  background-color: var(--primary);
  color: white;
  border-radius: 15px 15px 0 0;
}

.modal-title {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bolder;
  font-size: 29px;
}

.modal-footer {
  border: none;
}

@keyframes rotate-infinite {
  from { transform: rotate(0); }
  to { transform: rotate(360deg); }
}

@keyframes slide-right {
  from { opacity: 0; left: -30px; }
  to { opacity: 1 !important; left: 0; }
}

@keyframes slide-left {
  from { opacity: 1; left: 0; }
  to { opacity: 0; left: -30px; }
}

*[data-animatedshow="1"] {
  animation: slide-right 500ms cubic-bezier(0, 0, 0, 1) forwards;
}

*[data-animatedshow="0"] {
  animation: slide-left 500ms cubic-bezier(1, 0, 1, 1) forwards;
}

.press-enter-to-search-message {
  font-size: 11px;
  position: relative;
  font-weight: bolder;
  cursor: default;
}

.press-enter-to-search-message > img {
  width: 10px;
}

.press-enter-to-search-message[data-animationenabled="0"] {
  visibility: hidden;
}

.big-chooser {
  display: flex;
  flex-direction: row;
}

.big-chooser > div {
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  margin: 3px 5px 0 5px;
  flex: 1 1 0;
  transition: background-color 250ms, color 250ms;
}

.big-chooser > div > label {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 900;
  font-size: 1.5em;
  cursor: pointer;
}

.big-chooser > div > p {
  margin: 0;
}

.big-chooser > div > .icon {
  position: relative;
  top: -2px;
}

.big-chooser > div[data-chosen="0"] {
  background-color: var(--bs-gray-100) !important;
}

.big-chooser > div[data-chosen="1"] {
  color: white !important;
}

.nav-tabs .nav-link {
  font-family: "Josefin Sans", sans-serif;
}

.input-group > input {
  border-radius: 0 6px 6px 0;
}

.input-group-text {
  font-family: "Josefin Sans", sans-serif;
  color: white;
  border-radius: 6px 0 0 6px;
  background-color: var(--primary);
  border-color: var(--primary);
}