<nav
        class="navbar navbar-light navbar-expand-md navbar-fixed-top navigation-clean-button no-app"
>
    <div class="container" style="margin-left: 0; margin-right: 0; max-width: 100vw;">
        <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div style="color: white;">
            <span class="navbar-brand" style="font-family: 'Racing Sans One', sans-serif !important; font-weight: 400; cursor: default;">placki</span>
        </div>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav nav-right">
                <li class="nav-item">
                    <a class="nav-link" href="/glowna">
                        <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="1em"
                                height="1em"
                                viewBox="0 0 24 24"
                                stroke-width="2"
                                stroke="currentColor"
                                fill="none"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="icon icon-tabler icon-tabler-home"
                        >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <polyline points="5 12 3 12 12 3 21 12 19 12"></polyline>
                            <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"></path>
                            <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6"></path>
                        </svg>
                        główna
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/media">
                        <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="1em"
                                height="1em"
                                viewBox="0 0 24 24"
                                stroke-width="2"
                                stroke="currentColor"
                                fill="none"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="icon icon-tabler icon-tabler-video"
                        >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M15 10l4.553 -2.276a1 1 0 0 1 1.447 .894v6.764a1 1 0 0 1 -1.447 .894l-4.553 -2.276v-4z"></path>
                            <rect x="3" y="6" width="12" height="12" rx="2"></rect>
                        </svg>
                        media
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/grupy">
                        <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="1em"
                                height="1em"
                                viewBox="0 0 24 24"
                                stroke-width="2"
                                stroke="currentColor"
                                fill="none"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="icon icon-tabler icon-tabler-circles"
                        >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <circle cx="12" cy="7" r="4"></circle>
                            <circle cx="6.5" cy="17" r="4"></circle>
                            <circle cx="17.5" cy="17" r="4"></circle>
                        </svg>
                        grupy
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/wydarzenia">
                        <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="1em"
                                height="1em"
                                viewBox="0 0 24 24"
                                stroke-width="2"
                                stroke="currentColor"
                                fill="none"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="icon icon-tabler icon-tabler-calendar-event"
                        >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <rect x="4" y="5" width="16" height="16" rx="2"></rect>
                            <line x1="16" y1="3" x2="16" y2="7"></line>
                            <line x1="8" y1="3" x2="8" y2="7"></line>
                            <line x1="4" y1="11" x2="20" y2="11"></line>
                            <rect x="8" y="15" width="2" height="2"></rect>
                        </svg>
                        wydarzenia
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ludzie">
                        <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="1em"
                                height="1em"
                                viewBox="0 0 24 24"
                                stroke-width="2"
                                stroke="currentColor"
                                fill="none"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="icon icon-tabler icon-tabler-users"
                        >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <circle cx="9" cy="7" r="4"></circle>
                            <path d="M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
                            <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                            <path d="M21 21v-2a4 4 0 0 0 -3 -3.85"></path>
                        </svg>
                        ludzie
                    </a>
                </li>
            </ul>
            <p class="ms-auto navbar-text mb-0 d-flex flex-row align-items-center text-end">
                <img height="30" width="30" src="{{ self.profilePic }}" style="border-radius: 6px;" />
                <a href="/ja" style="margin-left: 7px; text-decoration: none; font-weight: bold; font-family: 'DM Sans', sans-serif;">{{ self.username }}</a>
                <a href="/wyloguj" style="margin-left: 5px;">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-power" width="1.5em" height="1.5em" viewBox="0 0 24 24" stroke-width="2" stroke="#F44336" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M7 6a7.75 7.75 0 1 0 10 0"></path>
                        <line x1="12" y1="4" x2="12" y2="12"></line>
                    </svg>
                </a>
            </p>
        </div>
    </div>
</nav>