.sm2-bar-ui {
    font-size: 19px;
}
.sm2-bar-ui .sm2-main-controls,
.sm2-bar-ui .sm2-playlist-drawer {
    background-color: #2196f3;
}
.sm2-bar-ui .sm2-inline-texture {
    background: transparent;
}