database:
  host: localhost
  dbname: placki
  username: YOUR_USERNAME_HERE
  password: YOUR_PASSWORD_HERE
run:
  show_errors: true  # Whether to show information about an exception which has occurred
  twig:
    middleware:
      - \App\Middleware\Twig\Breakify
      - \App\Middleware\Twig\UserInfo
      - \App\Middleware\Twig\DateFormatter
      - \App\Middleware\Twig\AttachmentSource
      - \App\Middleware\Twig\IsElectronApp
serializer:
  encoder: json_encode
  converters:
    - \App\Serializers\Converters\DateTimeConverter
