#messenger-placeholder {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    padding: 3px 15px 15px 15px;
}

#voice-channel-user-list-panel {
    flex: 0 0 254px;
    border-radius: 20px;
    margin-left: 15px;
    background-color: var(--primary-lighter);
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#voice-channel-user-list-panel > h3 {
    font-family: "Josefin Sans", sans-serif;
    font-weight: bold;
    color: var(--primary);
}

#voice-channel-user-list-panel > h3 > svg {
    position: relative;
    top: -3px;
}

#voice-channel-user-list-panel > ul {
    flex-grow: 1;
}

#voice-channel-state-display {
    background-color: white;
    border-radius: 20px;
    padding: 10px;
}

#voice-channel-disconnect-btn {
    width: 40px;
    height: 40px;
}

#messenger-left-panel {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    width: 0;
}

#text-channel-panel {
    flex: 1 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#voice-channel-panel-users {
    flex: 0 0 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#voice-channel-panel-users > div {
    text-align: center;
    padding: 10px;
    margin: 5px;
    border-radius: 20px;
    transition: background-color 250ms;
}

#voice-channel-panel-users > div:hover {
    background-color: #f0f0f0;
}

#voice-channel-panel-users > div > img {
    width: 70px;
    height: 70px;
    border-radius: 70px;
}

#voice-channel-panel-stage {
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.stream-preview {
    margin: 5px;
    border-radius: 10px;
    height: 300px;
    position: relative;
    cursor: pointer;
}

.stream-preview > video {
    aspect-ratio: 16/9;
    border-radius: inherit;
    height: inherit;
}

.stream-preview > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #0009;
    color: white;
    font-family: "Josefin Sans", sans-serif;
    font-size: 2rem;
    opacity: 0;
    transition: opacity 125ms;
}

.stream-preview > span {
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: white;
    opacity: 0;
    transition: opacity 125ms;
}

.stream-preview > span > img {
    border-radius: 100vw;
}

.stream-preview:hover > div {
    opacity: 1;
}

.stream-preview:hover > span {
    opacity: 1;
}

#voice-channel-panel-toolbar {
    display: flex;
    flex: 0 0 30px;
    flex-direction: row;
    background-color: var(--primary-lighter);
    border-radius: 20px;
    padding-left: 5px;
}

#voice-channel-panel-toolbar > div {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

#voice-channel-panel-toolbar > div:nth-child(2) {
    justify-content: flex-end;
}

@keyframes blinker {
    50% {
        opacity: 50%;
    }
}

#choose-stream-source-modal-sources-list > li {
    margin-bottom: 5px;
    border-radius: 6px;
    transition: background-color 250ms;
    padding: 5px;
    cursor: pointer;
    position: relative;
    animation: slide-right 250ms forwards;
    flex-direction: row;
    align-items: center;
}

#choose-stream-source-modal-sources-list > li:hover {
    background-color: var(--bs-gray-200);
}

#choose-stream-source-modal-sources-list > li > img {
    width: 32px;
    height: 32px;
    vertical-align: top;
}

#choose-stream-source-modal-sources-list > li > p {
    margin-bottom: 0;
    font-weight: bolder;
    margin-left: 5px;
}

.voice-channel-user {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 3px 0;
    padding: 5px;
    cursor: default;
}

.voice-channel-user > img {
    width: 24px;
    height: 24px;
    border-radius: 24px;
    margin-right: 5px;
}