<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>placki</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/fonts/fonts.css" />
    <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css" />
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css" />
    <link rel="stylesheet" href="/assets/fonts/ionicons.min.css" />
    <link rel="stylesheet" href="/assets/fonts/fontawesome5-overrides.min.css" />
    <link rel="stylesheet" href="/assets/css/Black-Navbar.css" />
    <link rel="stylesheet" href="/assets/css/File-Manager.css" />
    <link rel="stylesheet" href="/assets/css/aos/aos.css" />
    <link rel="stylesheet" href="/assets/css/styles.css" />
</head>

<body>
{% include "snippets/navbar.twig" %}
{% include "snippets/toast.twig" %}
<h1 data-aos="fade" data-aos-duration="1000" data-aos-once="true" class="page-heading" style="margin: 10px;">
    <img style="height: 45px; width: 45px; border-radius: 45px;" src="/group_pics/{{ group.picFilename }}" />
    {{ group.name }}
</h1>
<h1 data-animatedshow="1" style="position: relative; font-family: 'Josefin Sans', sans-serif; font-weight: 900; margin-left: 10px;">{{ message_title }}</h1>
<p data-animatedshow="1" style="position: relative; font-family: 'DM Sans', sans-serif; margin-left: 10px;">{{ message_subtitle }}</p>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/js/bs-init.js"></script>
<script src="/assets/js/aos/aos.js"></script>
<script src="/assets/js/lottie/lottie-player.js"></script>
<script src="/assets/js/moment/moment.min.js"></script>
<script src="/assets/js/moment/locale-pl.min.js"></script>
<script src="/assets/js/jquery.js"></script>
<script src="/assets/js/main.js"></script>
<script src="/assets/js/side_menu.js"></script>
<script src="/assets/js/toast.js"></script>
<script src="/assets/js/panel_grupy.js"></script>
</body>
</html>
