<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>placki</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/fonts/fonts.css" />
    <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css" />
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css" />
    <link rel="stylesheet" href="/assets/fonts/ionicons.min.css" />
    <link rel="stylesheet" href="/assets/fonts/fontawesome5-overrides.min.css" />
    <link rel="stylesheet" href="/assets/css/Black-Navbar.css" />
    <link rel="stylesheet" href="/assets/css/File-Manager.css" />
    <link rel="stylesheet" href="/assets/css/aos/aos.css" />
    <link rel="stylesheet" href="/assets/css/styles.css" />
</head>

<body>
{% include "snippets/navbar.twig" %}
{% include "snippets/toast.twig" %}
<div class="content d-flex justify-content-center align-items-center">
    <form method="post" class="text-center">
        <p style="position: relative; font-family: 'DM Sans', sans-serif; margin-left: 10px;">dołącz do grupy</p>
        <img width="120" height="120" src="/cdn/group_pics/{{ group.picFilename }}" style="border-radius: 120px; border: 1px solid gray;" />
        <h1 style="position: relative; font-family: 'Josefin Sans', sans-serif; font-weight: 900; margin: 0;">{{ group.name }}</h1>
        <p>i uzyskaj dostęp do postów oraz... innych rzeczy!</p>
        <button type="submit" class="btn btn-lg btn-primary" {{ request_sent ? "disabled" : "" }}>
            {% if needs_permission %}
                {% if request_sent %}
                    prośba wysłana
                {% else %}
                    poproś o przyjęcie
                {% endif %}
            {% else %}
                dołącz
            {% endif %}
        </button>
    </form>
</div>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/js/bs-init.js"></script>
<script src="/assets/js/aos/aos.js"></script>
<script src="/assets/js/lottie/lottie-player.js"></script>
<script src="/assets/js/moment/moment.min.js"></script>
<script src="/assets/js/moment/locale-pl.min.js"></script>
<script src="/assets/js/jquery.js"></script>
<script src="/assets/js/main.js"></script>
<script src="/assets/js/side_menu.js"></script>
<script src="/assets/js/toast.js"></script>
<script src="/assets/js/common/chat.js"></script>
<script src="/assets/js/panel_grupy.js"></script>
</body>
</html>
